@model IEnumerable<zurissample.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>@ViewData["Title"]</h1>

<ul>
@foreach(var p in Model)
{
    @await Html.PartialAsync("_ProductRow", new { Id = p.Id, Name = p.Name })
}
</ul>                       