@model IEnumerable<zurissample.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>@ViewData["Title"]</h1>

<ul>
@foreach(var p in Model)
{
    <li>
        <a asp-controller="Products" asp-action="Details" asp-route-id="@p.Id">@p.Name</a>
        - @p.Price:C
    </li>
}
</ul>